<div id="flash-messages" class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 w-full px-4 space-y-2">
  <% flash.each do |type, message| %>
    <%= render FlashMessageComponent.new(type: type, message: message) %>
  <% end %>
</div>
